*{
    margin: 0;
    padding: 0;
}
header{
    background-color:white;
    height:90px;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px groove #E8AE68 ;
    border-: 12px;
}
    
#logo{
    height:55px;
    width: 55px;
    border-radius: 50%;
}
#drop-menu{
    height:35px;
    width: 35px;
    padding-top: 13%;
    align-self: center;
    padding-top: 10px;
    border-radius: 10px;
}
.monnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    /* background-color: #333; */
  }
  
  .monnavbar li {
    float: left;
  }
  #search_bar{
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      width: 30%;
  }
  #search{
      /* text-align: center; */
      height: 30px;
      
  }
  #isearch{
      height: 32px;
      border:1px solid;
      border-color: #E8AE68;
      border-radius: 2%;
      width: 90%;
      float: left;
      padding-left: 5%;
  }
  #search-btn{
    background: #E8AE68;
    color: #f2f2f2;
    float: right;
    padding:5px 10px;
    margin-left: 0;
    margin-right:16px ;
    font-size: 12px;
    border:none;
    cursor:pointer;

  }
  #login-btn{
      background-color: #E8AE68;
      height:32px;
      width:60px;
      font-size: 18px;
      border:1px groove;
      border-radius: px;
      border-color:#E8AE68 ;
      text-align: center;
      color: white;
  }
  /* input[type=button]{
      height:25px;

  }   */
  .monnavbar li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.search_form{
    float:right;
    padding: 30px;
    /* background: cyan; */


}
#login{
    background-color: rgb(42, 93, 141);
    height:30px;
    color: white;
    font-size: 16px;
    border:1px groove grey;
    border-radius: 12%;
}
.contenu_principal{
    margin: 2%;
    height:600px;
    padding-top: 60px;
    background: url(../src/slide1.jpg);
    /* opacity: 0.7; */
    background-size: 100%;
    border-radius:6px;}
.slides p{
    padding: 60px 60px 0 100px;
    color:grey;
    font-size: 20px;
    font-weight: bolder;
    line-height: 2;
}
.slides h2{
    margin-left:35%;
    color:grey;
    /* font-family: 'awesome'; */
}
.slides>button{
    width:300px;
    height:50px;
    margin-left: 43%;
    margin-top:0px;
    justify-self:center ;
    background-color:#E8AE68;
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 25px;
    text-align: center;



}
footer{
    background: #E8AE68;
    margin-left:2%;
    margin-right: 2%;
    height: 300px;
}
.footer_links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
}